@import '../abstract/_var.scss';

.header {
    margin: 3rem 0;
    .header__title {
        color: $dark-grayish-cyan;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: .6rem;
        margin: 0 auto;
        width: 100px;
    }
}

@media screen and (min-width: 800px) {
    .header {
        margin-top: 5%;
    }
}
